<!--Display child areas with permission : admin or follower-->
<div class="row">
  <div class="col-xs-12">
    <h2>Vos espaces enfant</h2>
    
    <div class="list-group"> Espaces enfants gérés
      <button
        class="list-group-item"
        *ngFor="let childArea of childAreasManaged; let i = index"
        (click)="onManageChild(childArea)">
        <h3 class="list-group-item-heading">
          {{ childArea.name }}
          <button class="btn btn-default pull-right" (click)="$event.stopPropagation();onDeleteChild(childArea)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
        <p class="list-group-item-text">{{ childArea.dueDate }}</p>
      </button>
      
      <div  
      *ngIf='!this.childAreaDashboardService.ischildAreasManagedLoaded'>
      <app-loader></app-loader>
      </div>
    </div>
    <div class="list-group">Espaces enfants suivis
      <button
        class="list-group-item"
        *ngFor="let childArea of childAreasFollowed; let i = index"
        (click)="onViewChild(childArea)">
        <h3 class="list-group-item-heading">
          {{ childArea.name }}
        </h3>
        <p class="list-group-item-text">{{ childArea.dueDate }}</p>
      </button>
      
      <div  
      *ngIf='!this.childAreaDashboardService.ischildAreasFollowedLoaded'>
      <app-loader></app-loader>
      </div>
    </div>
    
    <button class="btn btn-primary" (click)="onNewChild()">Nouvel espace enfant</button>
  </div>
</div>