<div class="row">
  <!-- In case child area is not loaded yet, display a spinner to wait -->
  <div  
    *ngIf='!this.childAreaService.isLoaded()'>
    <app-loader></app-loader>
  </div>
  
  <!-- In case ok, display child area -->
  <div  
    *ngIf='this.childAreaService.isLoaded()'
        class="col-xs-12">
    <h1>Bienvenue dans mon espace </h1>
    <h1>{{this.childAreaService.childArea.name}}</h1>    
       
    <h3>Date prévue d'accouchement : {{ this.childAreaService.childArea.dueDate }}</h3>
    <p>Admin du compte : {{ this.childAreaService.childArea.admin}}</p>
    <!--<button class="btn btn-default" (click)="onDelete()">Supprimer</button>-->
    <button class="btn btn-default" (click)="onDisplayBirthList()">Voir la liste de naissance</button>
    <button class="btn btn-default" (click)="onDisplayLastNames()">Voir la liste de prénom</button>
    <div>Membres</div>
    <div
      *ngFor="let user of this.childAreaService.resolvedMembers"
      class="child-areas-members"
      cursor=none>
        
      <miniature
        [label]="user.firstName"
        [subLabel]="'@' + user.pseudo"
        [photoUrl]="user.avatarUrl"
        [miniatureStyle]="'transparent'"
        [borderRadius]="0"
        [margin]="0"
        [clickable]="false">
      </miniature>
    </div>  
    
    <!--<square-icon
      [iconPackage]="'simple-icon'"
      [icon]="'D'"
      [color]="'tomato'"
      [size]="100">
    </square-icon>
    
    <neumorphic-button
      [iconPackage]="'simple-icon'"
      [icon]="'D'"
      [size]="100"
      [label]="'Take picture!'">
    </neumorphic-button>
    
    <string-picker
      [items]="['toto', 'tata', 'bibi']"
      (selectItem)="this.toto($event)">
    </string-picker>
    
    <div
      *ngIf="this.childAreaService.isLoaded">
      <user-card
        *ngFor="let member of this.childAreaService.resolvedMembers"
        [user]="member">
      </user-card>
    </div>-->
             
  </div>
</div>