<div class="row">
  <!-- In case child area is not loaded yet, display a spinner to wait -->
  <div  
    *ngIf='!this.childAreaService.isLoaded()'>
    <app-loader></app-loader>
  </div>
  
  <!-- In case ok, display child area -->
  <div  
    *ngIf='this.childAreaService.isLoaded()'
        class="col-xs-12">
    <h1>Bienvenue dans mon espace : {{ this.childAreaService.childArea.name }}</h1>
    <h3>Date prévue d'accouchement : {{ this.childAreaService.childArea.dueDate }}</h3>
    <p>Admin du compte : {{ this.childAreaService.childArea.admin}}</p>
    <!--<button class="btn btn-default" (click)="onDelete()">Supprimer</button>-->
    <button class="btn btn-default" (click)="onDisplayBirthList()">Ajouter ou voir une liste de naissance</button>
    <button class="btn btn-default" (click)="onDisplayLastNames()">Ajouter ou voir une liste de prénom</button>
    <button class="btn btn-default" (click)="onAddMember()">Ajouter un membre</button>
    
    <user-picker
        [containerWidth]="'300px'"
        [initialSelectedUsers]="this.childAreaService.childArea.members"
        [sdbUserCollection]="'user'"
        [sdbDocNode]="'child-dashboard/' + this.childAreaService.childArea.id"
        [sdbProperty]="'members'">
    </user-picker>
    
  </div>
</div>