.miniature-container {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  
  color: #5b7480;

  overflow:hidden;
}

  .miniature-container.clickable{
    cursor:pointer;
  }

  .miniature-container.neumorphic {
    box-shadow:  8px 8px 11px #b5babe, 
             -8px -8px 11px #ffffff;
             
    background: linear-gradient(145deg, #f2f9ff, #cbd2d6);
  }
  

  .miniature-container.neumorphic:hover{
    background: linear-gradient(145deg, #cbd2d6, #f2f9ff);
  }
  
  .miniature-container.transparent:hover{
    background-color:rgba(255,255,255,0.3);
  }

.miniature-label {
  text-align:center;
}
  
  .miniature-label-title {
    font-size:10;
  }
  
  .miniature-label-subtitle {
    font-size:8px;
    font-style: italic;
  }

.miniature-photo {
  object-fit: cover;
}