<!--<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes articles</h2>
      <ul 
      class="list-group"
      *ngFor="let gift of gifts; let i = index">
        <app-gift></app-gift>
      </ul>
      <button class="btn btn-success"
              (click)="onAddItem()">Ajouter un article</button>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">    
      <h2>Mes articles</h2>
      <table id="dataTable" class="row-border hover">
          <thead>
          <tr>
            <th>Intitulé</th>
            <th>Quantité</th>
            <th>Marque</th>
            <th>Prix</th>
            <th>Participant</th>
            <th>Quantité offerte</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let gift of this.babyRegistryService.babyRegistry">
            <td class="text-center">{{gift.item}}</td>
            <td class="text-center">{{gift.quantity}}</td>
            <td class="text-center">{{gift.brand}}</td>
            <td class="text-center">{{gift.price}}</td>
            <!--td class="text-center">{{gift.donation.giver}}</td>
            <td class="text-center">{{gift.donation.quantity}}</td-->
          </tr>
          </tbody>
      </table>
      <button class="btn btn-success"
              (click)="onAddItem()">Ajouter un article</button>
    </div>
  </div>
</div>