<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouvel enfant</h2>
    <form [formGroup]="childAreaForm" (ngSubmit)="onSaveChildArea()">
      <div class="form-group">
        <label for="dueDate">DueDate</label>
        <input type="date" id="dueDate"
               class="form-control" formControlName="dueDate">
      </div>
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" id="name"
               class="form-control" formControlName="name">
      </div>        
      <button class="btn btn-success" [disabled]="childAreaForm.invalid"
              type="submit">Enregistrer
      </button>

    </form>
  </div>
</div>