<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Ajouter un nouvel article</h2>
    <form [formGroup]="birthListForm" (ngSubmit)="onSaveGift()">
      <div class="form-group">
        <label for="item">Nom</label>
        <input type="text" id="item"
               class="form-control" formControlName="item">
      </div>
      <div class="form-group">
        <label for="quantity">Quantité</label>
        <input type="text" id="quantity"
               class="form-control" formControlName="quantity">
      </div>
      <div class="form-group">
        <label for="brand">Marque</label>
        <input type="text" id="brand"
               class="form-control" formControlName="brand">
      </div>      
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="text" id="price"
               class="form-control" formControlName="price">
      </div>      
      <button class="btn btn-success" [disabled]="birthListForm.invalid"
              type="submit">Ajouter
      </button>

    </form>
  </div>
</div>